* {
    margin: 0;
}

.quiz-scores-timer {
    justify-content: space-between;
    display: flex;
    background-color: #392F5A;
    margin: 0px;
    font-weight: bold;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.page-link {
    text-decoration: none;
    font-weight: bold;
    color: #D7D9CE;
}

.score-section {
    text-align: center;
    margin-top: 50px;
    justify-content: space-around;
}

.score-header {
    font-size: 50px;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
    align-content: center;
}

#initials-label {
    display: inline;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    font-size: 18px;
}

#score-label {
    display: inline;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    font-size: 18px;
}